<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <meta charset="UTF-8">
    <title>EMPLOYEES PAGE</title>
</head>
<body>
<h3 th:text="#{employee.all.employees}"></h3>
<a href="/saveEmployee" th:text="#{employee.add.employee}"></a>
<table style="width: 40%">
    <tr >
        <th th:text="#{employee.employee.name}"></th>
        <th th:text="#{employee.employee.surname}"></th>
        <th th:text="#{employee.employee.email}"></th>
        <th th:text="#{employee.employee.phone.number}"></th>
        <th th:text="#{employee.employee.salary}"></th>
        <th th:text="#{employee.employee.position}"></th>
        <th th:text="#{employee.employee.company}"></th>
        <th th:text="#{employee.employee.picture}"></th>
        <th th:text="#{employee.employee.action}"></th>
    </tr >
    <tr th:each="employee:${employees}">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.surname}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.phoneNumber}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.position}"></td>
        <td th:text="${employee.company.name}"></td>
        <td><img th:if="${employee.pictureUrl != null}" th:src="@{/getImage(picName=${employee.pictureUrl})}" width="50" height="50"/> <img th:if="${employee.pictureUrl == null}" src="/img.png" width="50" height="50"/></td>
        <td><a th:href="@{'/deleteEmployee/' + ${employee.id}}" th:text="#{employee.employee.delete}"></a></td>
    </tr>
</table>
</body>
</html>