<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
</head>
<body>
Save Company:
<form action="/saveCompany" method="post">

    <input th:if="${company!=null}" type="hidden" th:value="${company.id}" name="id"/>
    Name: <input type="text" name="name" th:value="${company==null}? '':${company.name}"/><br>
    Size: <input type="number" name="size" th:value="${company==null}? '':${company.size}"/><br>
    Address: <input type="text" name="address" th:value="${company==null}? '':${company.address}"/><br>
    <input type="submit" value="save">
</form>
</body>
</html>